name: Go Tests & Coverage

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install dependencies
        run: go mod download

      - name: Run Tests with Coverage
        run: go test -v -coverprofile=coverage.out ./cmd/...

      - name: Create coverage-badge branch if not exists
        continue-on-error: true
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git fetch origin coverage-badge || (git checkout --orphan coverage-badge && git rm -rf . && git commit --allow-empty -m "Initial coverage-badge branch" && git push origin coverage-badge)
          git checkout ${{ github.head_ref || github.ref_name }}

      - name: Generate Coverage Badge
        uses: vladopajic/go-test-coverage@v2
        with:
          config: .testcoverage.yml
          git-token: ${{ secrets.GITHUB_TOKEN }}
          git-branch: coverage-badge
          # Simplified path for the badge
          git-file-name: badge.svg
